{% extends "base.html" %}

{% block title %}Key List{% endblock %}

{% block heading %}
  <h2>Serial Keys</h2>
{% endblock %}

{% block content %}
     <table id="example1" class="table table-bordered table-striped" cellspacing="0" width="100%">
         <col width='20'>
         <col width='100'>
         <col width='100'>
         <col width='100'>
         <col width="100">

         <thead>
                 <tr>
                     <th>Product Code</th>
                     <th>Serial Key</th>
                     <th>Batch Code</th>
                     <th>Expire Date</th>
                     <th>Create Date</th>
                 </tr>

         </thead>

         <tbody>
                  {% for x in key %}
                      <tr>
                          <td>{{ x.b_p_code  }}</td>
                          <td>{{ x.key }}</td>
                          <td>{{ x.batch_detail }}</td>
                          <td>{{ x.expier_date | date}}</td>
                          <td>{{ x.created_date | date}}</td>
                      </tr>
                  {% endfor %}
         </tbody>

         <tfoot>

                    <tr>
                        <th>Product Code</th>
                        <th>Serial Key</th>
                        <th>Batch Code</th>
                        <th>Expire Date</th>
                        <th>Create Date</th>
                    </tr>

         </tfoot>
     </table>

{% endblock %}


