{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if create %}Create{% else %}New Key{% endif %}Serious
{% endblock %}

{% block heading %}
  <h2>
      Create New Serial Keys
  </h2>
{% endblock %}

{% block content %}
  {% if create %}
    {% url "marcador_key_create" as action_url %}
  {% else %}
    {% url "marcador_key_search" pk=form.instance.pk as action_url %}
  {% endif %}
  <form action="{{ action_url }}" method="post" accept-charset="utf-8" id="createForm" >

    {% csrf_token %}
    <div class="form-group">
          <div class="form-controls">
            <label>Product *  :</label>
            <select name="key_beging_code">
                {% for entry in product_code %}
                      <option value="{{ entry.code }}">{{ entry.product_name }}</option>
                {% endfor %}
            </select>
          </div>
    </div>
    {{ form|crispy }}

    <p> <b>Expiry Date*:</b>  <input type="date" id="datepicker" name="expier_date"></p>
    <p><input type="submit" class="btn btn-default" value="Save"   id="save_button"> </p>
      <div id="submit_loader"></div>
  </form>

{% endblock %}