{% extends "base.html" %}

{% block title %}Key List{% endblock %}

{% block heading %}
  <h2>Search for Serial Batches</h2><br/><br/>
{% endblock %}

{% block content %}

    <form action="key_search" method="post" accept-charset="utf-8">
             {% csrf_token %}


             <div class="form-group">
                <div class="form-controls">
                  <label>By Product Code  </label>
                   <select name="productCode">
                       <option></option>
                     {% for entry in product_code %}
                           <option value="{{ entry.code }}">{{ entry.product_name }}</option>
                      {% endfor %}

                 </select>
                </div>
             </div>

             <!--<div class="form-group">
                <label>By Product Code </label>
                <input  type="number" class="form-control" placeholder="Enter Product Code" name="productCode" maxlength="5" max="1000">
             </div> -->

             <div class="form-group">
                <div class="form-controls">
                  <label>By Batch Code   </label>
                   <select name="batchCode">
                     <option></option>
                     {% for entry in batch_code %}
                           <option value="{{ entry }}">{{ entry }}</option>
                      {% endfor %}
                 </select>
                </div>
             </div>


             <!--<div class="form-group">
                <label>By Batch Code </label>
                <input type="text" class="form-control" placeholder="Enter Batch Code" name="batchCode" maxlength="20">
             </div>-->

             <div class="form-group">
                 <p> <b>By Expiry Date :</b>  <input type="date" id="datepicker" name="expier_date"></p>
             </div>

             <div class="form-group">
                 <p> <b>By Genrated  Date Range :</b>  <input type="text" name="datefilter" value="" /></p>
             </div>

            <div class="">
                <button type="submit" class="btn btn-primary">Search Keys</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
    </form>



{% endblock %}


