{% extends "base.html" %}

{% block title %}Key List{% endblock %}

{% block heading %}
  <h2>Serial Keys</h2>
{% endblock %}

{% block content %}
    <div>
     <table id="example" class="table table-bordered table-striped ">
         <col width='100'>
         <col width='100'>


         <thead>
                 <tr>
                     <th>Product Code</th>
                     <th>Serial Key</th>
                 </tr>

         </thead>

         <tbody>
                  {% for x in key %}


                      <tr>
                          <td>{{ x.b_p_code  }}</td>
                          <td>{{ x.key }}</td>
                      </tr>
                  {% endfor %}
         </tbody>

         <tfoot>

                    <tr>
                        <th>Product Code</th>
                        <th>Serial Key</th>
                    </tr>

         </tfoot>
     </table>
</div>
{% endblock %}


