{% extends "base.html" %}


{% block title %}Welcome Fontara web base key Gen{% endblock %}

{% block heading %}
  <h2>Fontara Promotion Key Generator</h2>
{% endblock %}


{% block content %}
{% load staticfiles %}
<div align="center"><img src="{% static "fonterra-logo.jpg" %}" alt="My image"/></div>
{% endblock %}

