{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if create %}Create{% else %}New Brand , Pack Size, Promotions {% endif %}
{% endblock %}

{% block heading %}
  <h2>
      Generate Product Link Code
  </h2>
{% endblock %}

{% block content %}
 <form action="{{ marcador_product_code_create }}" method="post" accept-charset="utf-8" id="product_key_code_form">
    {{ form|crispy }}
    {% csrf_token %}

      <div class="form-group">

          <div class="form-controls">
            <label>Brand  :</label>
            <select name="brand_name">
                {% for entry in brand %}
                      <option value="{{ entry.brand_name }}">{{ entry.brand_name }}</option>
                {% endfor %}
            </select>
          </div>
      </div>

     <br/>
     <div class="form-group">
          <div class="form-controls">
            <label>Promotion  :</label>
            <select name="promotion_name">
                {% for entry in promotion %}
                      <option value="{{ entry.promotion_name }}">{{ entry.promotion_name }}</option>
                {% endfor %}
            </select>
          </div>
      </div>

      <br/>
     <div class="form-group">
          <div class="form-controls">
            <label>Pack Size  :</label>
            <select name="pack_size_name">
                {% for entry in  pack_size%}
                      <option value="{{ entry.pack_size_name }}">{{ entry.pack_size_name }}</option>
                {% endfor %}
            </select>
          </div>
      </div>

      <br/>
      <div id="submit_loader"></div>
     <p><input type="submit" class="btn btn-default" value="Save"   id="save_button"> </p>
     <hr/>
     <h3>Product Link Code Details</h3>
     <br/>
     <div>
         <table id="example" class="table table-bordered table-striped ">
             <col width='100'>
             <col width='100'>
             <col width="100">
             <thead>
                     <tr>
                         <th>Product Link Code</th>
                         <th>Product Link Name</th>
                         <th>Create Date</th>
                     </tr>

             </thead>

             <tbody>
                      {% for x in product_code %}
                          <tr>
                              <td>{{ x.code }}</td>
                              <td>{{ x.product_name  }}</td>
                              <td>{{ x.created_date |date }}</td>
                          </tr>
                      {% endfor %}
             </tbody>

             <tfoot>
                        <tr>
                            <th>Product Link Code</th>
                            <th>Product Link Name</th>
                            <th>Create Date</th>
                        </tr>

             </tfoot>
         </table>
     </div>
 </form>

{% endblock %}