{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if create %}Create{% else %}New Promotions {% endif %}
{% endblock %}

{% block heading %}
  <h2>
      Create New Entries
  </h2>
{% endblock %}

{% block content %}
 <form action="{{ marcador_brand_create }}" method="post" accept-charset="utf-8" id="promotion_entry_form">
    {{ form|crispy }}
    {% csrf_token %}
    <div id="submit_loader"></div>
    <p><input type="submit" class="btn btn-default" value="Save"   id="save_button"> </p>


    <hr/>
    <h3>Promotions Details</h3>
    <br/>
   <div>
     <table id="example" class="table table-bordered table-striped ">
         <col width='100'>
         <col width='100'>
         <thead>
                 <tr>
                     <th>Promotion Name</th>
                     <th>Create Date</th>
                 </tr>

         </thead>

         <tbody>
                  {% for x in promotion %}
                      <tr>
                          <td>{{ x.promotion_name  }}</td>
                          <td>{{ x.created_date |date }}</td>
                      </tr>
                  {% endfor %}
         </tbody>

         <tfoot>
                    <tr>
                        <th>Promotion Name</th>
                        <th>Create Date</th>
                    </tr>

         </tfoot>
     </table>
   </div>
 </form>

{% endblock %}