{% extends "base.html" %}


{% block title %}
   Batch Details
{% endblock %}

{% block heading %}
  <h2>
       Batch Codes Details<br/><br/>
  </h2>
{% endblock %}


{% block content %}
  <table id="example" class="table table-bordered table-striped">
         <col width='100'>
         <col width='100'>
         <col width='100'>

         <thead>
                 <tr>
                     <th>Batch Code</th>
                     <th>Key Quantity</th>
                     <th>Create Date</th>
                 </tr>

         </thead>

         <tbody>
                  {% for x in batch %}


                      <tr>
                          <td>{{ x.batch_code  }}</td>
                          <td>{{ x.key_quntity }}</td>
                          <td>{{ x.created_date | date }}</td>
                      </tr>
                  {% endfor %}
         </tbody>
     </table>
{% endblock %}
