{% load staticfiles %}

<!doctype html>

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fonterra - {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }

            #submit_loader{
              background: url('../static/loading-x.gif') center center no-repeat rgba(255,255,255,0.8);
              width:100%;
              height: 100%;
              position: fixed;
              z-index: 9999;
              top:0;
              bottom: 0;
              display: none;

          }
        </style>
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        <!-- DataTables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <link rel="stylesheet" href="{% static "plugins/datatables/extensions/TableTools/css/dataTables.tableTools.css" %}">

        <link rel="stylesheet" href="{% static "plugins/datatables/extensions/TableTools/css/style.css" %}">

         <!-- Include Date Range Picker -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    </head>


    <body>
       <div class="container">
             <header>
               {% block toggle_login %}
                     {% include "toggle_login.html" %}
               {% endblock %}
              </header>

             <div>
                 {% block heading %}{% endblock %}
             </div>
             <div>
                 {% block content %}{% endblock %}
             </div>

             <hr>

             <footer>
                   <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8">
                             <p>powered by Prudentia & Seneru IT &copy; 2016</p>
                        </div>

                        <div class="col-sm-2">
                            <div><img src="{% static "prudentia.png" %}" alt="SeneruIt"/></div>

                        </div>
                        <div class="col-sm-2">
                               <div><img src="{% static "seneru.jpg" %}" alt="prudentia"/></div>
                        </div>
                    </div>
                </div>

             </footer>

       </div>


        <script src="{% static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>


        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
        <script src="{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>

        <script>window.jQuery || document.write('<script src=" static "js/vendor/jquery-1.11.2.min.js" %}"><\/script>')</script>

        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>

        <script src="{% static "js/main.js" %}"></script>


        <!--<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js" ></script> -->

        <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>



        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <script src="{% static "plugins/datatables/extensions/TableTools/js/dataTables.tableTools.js" %}"></script>

        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>



      <script>
          $(function() {
              $( "#datepicker" ).datepicker();
          });
      </script>



     <script>
         $(document).ready(function() {
             $('#example').dataTable();
         });

         $(document).ready( function () {
             $('#example1').dataTable( {
                    "dom": 'T<"clear">lrtifp',  //T<"clear"><br/>lfrtip
                    "tableTools": {
                            "sSwfPath": "{% static "plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf" %}"
                    },
                    "pageLength": 1000,
                    "lengthMenu": [[100 ,200 , 500 , 1000 ,-1 ],[100 ,200 , 500 , 1000 ,"All"]]
                     //"bPaginate": false
             });
         });
     </script>


    <script>
           // Attach a submit handler to the form
           $("#createForm").submit(function (event) {
                 event.preventDefault();

                 //var formData = new FormData($("#createForm")[0]);
                 var serverUrl =$("#createForm").attr('action');

                 $.ajax({
                            url: serverUrl,
                            type: 'POST',
                            data: $("#createForm").serialize(),

                            beforeSend: function() {
                                  $('#submit_loader').css('display','block');
                            },
                            complete: function(){
                                  $('#submit_loader').css('display','none');
                            },
                            success: function (returndata) {
                                alert("succsesfully generate keys");
                                window.location="";
                                return false;
                            },
                            error: function(data){
                               alert("please ,check you fill form correctly");
                           }
                   });
                   return false;
           });


          //pack size
          $("#pack_size_form").submit(function (event) {
                 event.preventDefault();

                 //var formData = new FormData($("#createForm")[0]);
                 var serverUrl =$("#pack_size_form").attr('action');

                 $.ajax({
                            url: serverUrl,
                            type: 'POST',
                            data: $("#pack_size_form").serialize(),

                            beforeSend: function() {
                             //     $('#submit_loader').css('display','block');
                            },
                            complete: function(){
                             //     $('#submit_loader').css('display','none');
                            },
                            success: function (returndata) {
                                alert("succsesfully added Record");
                                window.location="";
                                return false;
                            },
                            error: function(data){
                               alert("Your record allready exist");
                           }
                   });
                   return false;
           });


          //promotion Entry form
          $("#promotion_entry_form").submit(function (event) {
                 event.preventDefault();

                 //var formData = new FormData($("#createForm")[0]);
                 var serverUrl =$("#promotion_entry_form").attr('action');

                 $.ajax({
                            url: serverUrl,
                            type: 'POST',
                            data: $("#promotion_entry_form").serialize(),

                            beforeSend: function() {
                             //     $('#submit_loader').css('display','block');
                            },
                            complete: function(){
                             //     $('#submit_loader').css('display','none');
                            },
                            success: function (returndata) {
                                alert("succsesfully added Record");
                                window.location="";
                                return false;
                            },
                            error: function(data){
                               alert("Your record allready exist");
                           }
                   });
                   return false;
           });


          //Brand form
          $("#brand_form").submit(function (event) {
                 event.preventDefault();

                 //var formData = new FormData($("#createForm")[0]);
                 var serverUrl =$("#brand_form").attr('action');

                 $.ajax({
                            url: serverUrl,
                            type: 'POST',
                            data: $("#brand_form").serialize(),

                            beforeSend: function() {
                             //     $('#submit_loader').css('display','block');
                            },
                            complete: function(){
                             //     $('#submit_loader').css('display','none');
                            },
                            success: function (returndata) {
                                alert("succsesfully added Record");
                                window.location="";
                                return false;
                            },
                            error: function(data){
                               alert("Your record allready exist");
                           }
                   });
                   return false;
           });

          //prduct link code  form
          $("#product_key_code_form").submit(function (event) {
                 event.preventDefault();

                 //var formData = new FormData($("#createForm")[0]);
                 var serverUrl =$("#product_key_code_form").attr('action');

                 $.ajax({
                            url: serverUrl,
                            type: 'POST',
                            data: $("#product_key_code_form").serialize(),

                            beforeSend: function() {
                             //     $('#submit_loader').css('display','block');
                            },
                            complete: function(){
                             //     $('#submit_loader').css('display','none');
                            },
                            success: function (returndata) {
                                alert("succsesfully added Record");
                                window.location="";
                                return false;
                            },
                            error: function(data){
                               alert("Your record allready exist");
                           }
                   });
                   return false;
           });
      </script>


       <script>
              $(function() {
                  $('input[name="datefilter"]').daterangepicker({
                      autoUpdateInput: false,
                      locale: {
                          cancelLabel: 'Clear'
                      }
                  });

                  $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                  });

                  $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                      $(this).val('');
                  });
              });
       </script>



    </body>
</html>
