{% if user.is_authenticated %}

<ul class="nav navbar-nav navbar-right">

    <li><a href="{% url "marcador_key_home" %}">Home</a></li>
    <li><a href="{% url "marcador_key_create" %}">Create Serial Keys</a></li>
    <!--<li><a href="-->{# {% url "marcador_brand_create" %} #} <!--">Create DB Entries</a></li>-->
    <!--<li><a href=" --> {#  {% url "marcador_key_view" %} #} <!--">Serial Keys List</a></li> -->

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-expanded="false">Create New Entries <span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
           <li>
               <a href="{% url "marcador_brand_create" %}">Add New Brands</a>
               <a href="{% url "marcador_pack_size_create" %}">Add New Pack Sizes</a>
               <a href="{% url "marcador_promotion_create" %}">Add New Promotions</a>
               <a href="{% url "marcador_product_code_create" %}">Create Product Link Code</a>
           </li>
       </ul>
    <li/>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-expanded="false">Search  Entries <span class="caret"></span></a>

        <ul class="dropdown-menu" role="menu">
           <li>
               <a href="{% url "marcador_key_search" %}">Search Serial Keys</a>
               <a href="{% url "marcador_batch_detail_view" %}">Batch Codes</a>
           </li>
       </ul>
    <li/>

    <!--<li><a href="--> {# {% url "marcador_key_search" % #}<!--">Search Serial Keys</a></li>-->

    <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
        aria-expanded="false">{{ user.username }} <span class="caret"></span></a>

       <ul class="dropdown-menu" role="menu">
           <li>
               <a href="{% url "mysite_logout" %}">Logout</a>
           </li>
       </ul>
    </li>
</ul>

{% else %}


<form class="navbar-form navbar-right" role="form" action="{% url "mysite_login" %}"
    method="post" accept-charset="utf-8">

    <div class="form-group">
        <input type="text" placeholder="Username" class="form-control" name="username">
    </div>

    <div class="form-group">
         <input type="password" placeholder="Password" class="form-control" name="password">
    </div>

    {% csrf_token %}

    <button type="submit" class="btn btn-success">Sign in</button>
</form>

{% endif %}